<!DOCTYPE html>
<html>
<head>
  <title>Happy Student</title>
</head>
<body>
  <h1>Enter a tip to help students maintain happiness throughout the day:</h1>
  <form action="/capitalize_students" method="POST">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="name" placeholder="Happy Tip">
      <button type="submit">Enter</button>
  </form>
</body>
</html>