#contact-info {
	font-size: .8em;
}

.job {
	background-color: #e9e5dc;
    border-radius: 5px;
 	padding-bottom: 5px;
}

.experience {
		font-size: .8em;
}

.experience li:first-child {
	color: blue;
}

